body {
    font-family: "Roboto", "Raleway", sans-serif;
    color: #2E2F42;
    letter-spacing: 0.02em;
}

ul {
   list-style-type: none; 
}

.logo-link {
    font-family: "Raleway";
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
}

.logo-link .logo-link-studpart {
    color: #2E2F42;
}

.pagenav-list .link {
    color: #2E2F42;
    text-decoration: none;
    line-height: 1.5;
    font-weight: 500;
    font-size: 16px;
}

.address-list .link {
    color: #434455;
    text-decoration: none;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
}

.pagenav-list .link:hover,
.pagenav-list .link:focus,
.address-list .link:hover,
.address-list .link:focus {
    color: #404BBF;
}

.order-btn {
    cursor: pointer;
    background-color: #4d5ae5;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    text-align: center;
    color: #FFFFFF;
}

.order-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    text-align: center;
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
}

.text {
    font-size: 16px;
    line-height: 150%;
    color: #434455;
}

.team-list .title {
    text-align: center;
}

.team-list .text {
    text-align: center;
}

.page-footer .logo-link .logo-link-studpart {
    color: #F4F4FD;
}

.page-footer .footer-text {
    font-size: 16px;
    line-height: 150%;
    color: #F4F4FD;
}



.hero-section {
    background-color: #2E2F42;
}

.team-section {
    background-color: #f4f4fd;
}

.page-footer {
    background-color: #2E2F42;
}

