body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    /* letter-spacing: 0.02em; */
    background-color: #FFFFFF;
}

ul {
   list-style-type: none; 
}

.logo-link {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
}

.logo-link .logo-link-studpart {
    color: #2E2F42;
}

.pagenav-list .link {
    color: #2E2F42;
    text-decoration: none;
    line-height: 1.5;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.address-list .link {
    color: #434455;
    text-decoration: none;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    /* font-style: normal; */
}

.addressclass {
    font-style: normal;
}

.pagenav-list .link:hover,
.pagenav-list .link:focus,
.address-list .link:hover,
.address-list .link:focus {
    color: #404BBF;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0.02em;
}

.order-btn {  
    font-family: "Roboto", sans-serif;   
    cursor: pointer;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.order-btn:focus,
.order-btn:hover {
    background-color: #404BBF;
}

.section-title {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
 }

.section-subtitle {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
}

.section-text {
    font-size: 16px;
    line-height: 150%;
}

.team-section .team-list {
    background-color: #FFFFFF;
}

.team-facebook {
    background-color: #FFFFFF;
}

.team-list .section-subtitle {
    text-align: center;
}

.team-list .section-text {
    text-align: center;
}

.page-footer .logo-link .logo-link-studpart {
    color: #F4F4FD;
}

.page-footer .footer-text {
    font-size: 16px;
    line-height: 150%;
    color: #F4F4FD;
}



.hero-section {
    background-color: #2E2F42;
}

.team-section {
    background-color: #f4f4fd;
}

.page-footer {
    background-color: #2E2F42;
}

